<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>微订餐首页</title>

    <!--<link rel="stylesheet" href="http://192.168.1.111:8080/resource/css/jquery.mobile-1.4.0.min.css" />-->
    <link rel="stylesheet" href="http://192.168.1.111:8080/resource/css/jqm-demos.css" />
    <link rel="stylesheet" href="http://192.168.1.111:8080/resource/css/idangerous.swiper.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
    <link rel="stylesheet" href="http://192.168.1.111:8080/resource/css/common.css" />
    <link rel="stylesheet" href="http://192.168.1.111:8080/resource/css/index.css" />

    <!--<script language="javascript" src="http://192.168.1.111:8080/resource/js/jquery.js"></script>-->
    <!--<script language="javascript" src="http://192.168.1.111:8080/resource/js/jquery.mobile-1.4.0.min.js"></script>-->
    <script language="javascript" src="http://192.168.1.111:8080/resource/js/idangerous.swiper-1.8.js"></script>

</head>
<body>
<div data-role="page">
    <div data-role="content" class="content">

        <!-- 功能菜单 -->
        <div style="width: 98%; margin: 0% auto; padding: 1px;">
            <div class="ui-grid-a" style="background-color: white;">
                <div class="ui-block-a ui-block-item">
                    <div id="shake" class="ui-bar ui-bar-a padding-0 back-yaoyiyao">
                        <span class="small-menu-title">刮刮卡</span>
                        <span>99元外卖红包欢乐..</span>
                    </div>
                </div>
                <div class="ui-block-b ui-block-item">
                    <div id="customer" class="ui-bar ui-bar-a padding-0 back-myself">
                        <span class="small-menu-title">我的</span>
                        <span>订单、券包</span>
                    </div>
                </div>
            </div>
            <!-- /grid-a -->
        </div>

        <div style="width: 98%; margin: 0px auto; padding: 0px; margin-top: 15px;">
            <div class="ui-grid-a" style="background-color: white;">
                <div class="ui-block-a ul.ui-grid-a">
                    <div id="orderDishes"
                         class="ui-bar ui-bar-a padding-0 back-diancan">
                        <span class="big-menu-title red">点菜</span>
                        <span>自助点菜下单</span>
                    </div>
                </div>
                <div class="ui-block-b ui-block-item">
                    <div id="takeOut" class="ui-bar ui-bar-a padding-0 back-waimai">
                        <span class="big-menu-title green">外卖</span>
                        <span>点外卖返现50%</span>
                    </div>
                </div>
                <div class="ui-block-a ui-block-item">
                    <div id="nearby" class="ui-bar ui-bar-a padding-0 back-fujin">
                        <span class="big-menu-title olive">附近</span>
                        <span>发现周边美食</span>
                    </div>
                </div>
                <div class="ui-block-b ui-block-item">
                    <div id="pay"
                         class="ui-bar ui-bar-a padding-0 back-jiezhang">
                        <span class="big-menu-title blue">结账</span>
                        <span>手机轻松付款</span>
                    </div>
                </div>
            </div>
            <!-- /grid-a -->
        </div>
    </div>
    <!-- /content -->
</div>