<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>微订餐活动</title>

    <link rel="stylesheet" href="../css/jquery.mobile-1.4.0.css" />
    <link rel="stylesheet" href="../css/jqm-demos.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
    <link rel="stylesheet" href="../css/idangerous.swiper.css" />
    <link rel="stylesheet" href="../css/common.css" />

    <script language="javascript" src="../js/jquery.js"></script>
    <script src="../js/jquery.mobile-1.4.0.js"></script>
    <script src="../js/idangerous.swiper-1.8.js"></script>

    <script type="text/javascript">
      $(function() {
      });
    </script>
  </head>

  <body>
    <div data-role="page">
      <div data-role="content" class="content">
				
				<div class="ui-grid-a">
					<div class="ui-block-a">
						<div class="ui-bar ui-bar-a padding-0" style="height: 100px">
							<img src="../images/apple.png" alt="11" width="100%" />
						</div>
					</div>
					<div class="ui-block-b">
						<div class="ui-bar ui-bar-a padding-0" style="height: 100px">
							<img src="../images/apple.png" alt="11" width="100%" />
						</div>
					</div>
					<div class="ui-block-a">
						<div class="ui-bar ui-bar-a padding-0" style="height: 100px">
							<img src="../images/apple.png" alt="11" width="100%" />
						</div>
					</div>
					<div class="ui-block-b">
						<div class="ui-bar ui-bar-a padding-0" style="height: 100px">
							<img src="../images/apple.png" alt="11" width="100%" />
						</div>
					</div>
					<div class="ui-block-a">
						<div class="ui-bar ui-bar-a padding-0" style="height: 100px">
							<img src="../images/apple.png" alt="11" width="100%" />
						</div>
					</div>
					<div class="ui-block-b">
						<div class="ui-bar ui-bar-a padding-0" style="height: 100px">
							<img src="../images/apple.png" alt="11" width="100%" />
						</div>
					</div>
				</div>
				<!-- /grid-a -->

			</div>
      <!-- /content -->
    </div>
  </body>
</html>
