<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>预定座位</title>

    <link rel="stylesheet" href="../css/jquery.mobile-1.4.0.css" />
    <link rel="stylesheet" href="../css/jqm-demos.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
    <link rel="stylesheet" href="../css/idangerous.swiper.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/fixedSeat.css" />

    <script language="javascript" src="../js/jquery.js"></script>
    <script src="../js/jquery.mobile-1.4.0.js"></script>

    <script type="text/javascript">
    $(function() {
    });
    </script>
    
  </head>

  <body>
    <div data-role="page">
      <div data-role="content" class="content">
      	<div>
      		<span>定座预约信息</span>
      	</div>
	  	<form action="">
      	  <!--<button id="edit-btn" data-role="none" class="ui-btn-self-cancel" type="button">取消</button>-->
      	  <!--<button id="edit-btn" data-role="none" class="ui-btn-self float-r" type="submit">保存</button>-->
	  
	      <div class="ui-corner-all custom-corners edit-address-from">
			<div class="ui-body ui-body-a ui-bar-self">
			  <label for="name">联系人:</label>
			  <input type="text" name="name" id="name" data-role="none" class="ui-input-self" value="" />
			</div>
			<div class="ui-body ui-body-a ui-bar-self">
			  <label for="mobile">手机号:</label>
			  <input type="text" name="mobile" id="mobile" data-role="none" class="ui-input-self" value="" />
			</div>
			<div class="ui-body ui-body-a ui-bar-self">
			  <label for="mobile">预约时间:</label>
			  
			  
			  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			    <select name="month" id="month">
			        <option value="1">1月</option>
			        <option value="1">2月</option>
			        <option value="1">3月</option>
			        <option value="1">4月</option>
			        <option value="1">5月</option>
			        <option value="1">6月</option>
			        <option value="1">7月</option>
			        <option value="1">8月</option>
			        <option value="1">9月</option>
			        <option value="1">10月</option>
			        <option value="1">11月</option>
			        <option value="1">12月</option>
			    </select>
			    
			    <select name="day" id="day">
			        <option value="1">1日</option>
			        <option value="1">2日</option>
			        <option value="1">3日</option>
			        <option value="1">4日</option>
			        <option value="1">5日</option>
			        <option value="1">6日</option>
			        <option value="1">7日</option>
			        <option value="1">8日</option>
			        <option value="1">9日</option>
			        <option value="1">10日</option>
			        <option value="1">11日</option>
			        <option value="1">12日</option>
			        <option value="1">13日</option>
			        <option value="1">14日</option>
			        <option value="1">15日</option>
			        <option value="1">16日</option>
			        <option value="1">17日</option>
			        <option value="1">18日</option>
			        <option value="1">19日</option>
			        <option value="1">20日</option>
			        <option value="1">21日</option>
			        <option value="1">22日</option>
			        <option value="1">23日</option>
			        <option value="1">24日</option>
			        <option value="1">25日</option>
			        <option value="1">26日</option>
			        <option value="1">27日</option>
			        <option value="1">28日</option>
			        <option value="1">29日</option>
			        <option value="1">30日</option>
			        <option value="1">31日</option>
			    </select>
			    
			    <select name="hour" id="hour">
			        <option value="0">00时</option>
			        <option value="0">01</option>
			        <option value="0">02</option>
			        <option value="0">03</option>
			        <option value="0">04</option>
			        <option value="0">05</option>
			        <option value="0">06</option>
			        <option value="0">07</option>
			        <option value="0">08</option>
			        <option value="0">09</option>
			        <option value="0">10</option>
			        <option value="0">11</option>
			        <option value="0">12</option>
			        <option value="0">13</option>
			        <option value="0">14</option>
			        <option value="0">15</option>
			        <option value="0">16</option>
			        <option value="0">17</option>
			        <option value="0">18</option>
			        <option value="0">19</option>
			        <option value="0">20</option>
			        <option value="0">21</option>
			        <option value="0">22</option>
			        <option value="0">23</option>
			    </select>
			    
			    <select name="minute" id="minute">
			        <option value="0">00分</option>
			        <option value="0">01</option>
			        <option value="0">02</option>
			        <option value="0">03</option>
			        <option value="0">04</option>
			        <option value="0">05</option>
			        <option value="0">06</option>
			        <option value="0">07</option>
			        <option value="0">08</option>
			        <option value="0">09</option>
			        <option value="0">10</option>
			        <option value="0">11</option>
			        <option value="0">12</option>
			        <option value="0">13</option>
			        <option value="0">14</option>
			        <option value="0">15</option>
			        <option value="0">16</option>
			        <option value="0">17</option>
			        <option value="0">18</option>
			        <option value="0">19</option>
			        <option value="0">20</option>
			        <option value="0">21</option>
			        <option value="0">22</option>
			        <option value="0">23</option>
			    </select>
			    
			  </fieldset>
			  
			</div>
			<div class="ui-body ui-body-a ui-bar-self">
			  <label for="mobile">预约人数:</label>
			  <input type="text" name="count" id="count" data-role="none" class="ui-input-self" value="" />
			</div>
			<div class="ui-body ui-body-a ui-bar-self">
			  <label>座位分类:</label>
			  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			    <select name="seatType" id="seatType">
			        <option value="1">大厅</option>
			        <option value="2">包厢</option>
			    </select>
			  </fieldset>
			</div>
			<div class="ui-body ui-body-a ui-bar-self">
			  <label for="mobile">备注:</label>
			  <!--<input type="text" name="remark" id="remark" data-role="none" class="ui-input-self" value="" />-->
			  <textarea name="remark" id="remark" rows="3" cols="20" data-role="none" class="ui-input-self"></textarea>
			</div>
		  </div>
		  
		  <input type="submit" value="Submit" />
		  
	  	</form>
      	
      </div>
      <!-- /content -->
	  
    </div>
  </body>
</html>
