<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>微订餐首页</title>

		<link rel="stylesheet" href="../css/jquery.mobile-1.4.0.css" />
		<link rel="stylesheet" href="../css/jqm-demos.css" />
		<link rel="stylesheet"
			href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
		<link rel="stylesheet" href="../css/idangerous.swiper.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/index.css" />

		<script language="javascript" src="../js/jquery.js"></script>
		<script src="../js/jquery.mobile-1.4.0.js"></script>
		<script src="../js/idangerous.swiper-1.8.js"></script>


		<script type="text/javascript">
      $(function() {
        var mySwiper = $('.swiper-container').swiper( {
          //Your options here:
          mode : 'horizontal',
          loop : true,
          autoplay : 1000,
          mode : 'horizontal',
          slidesPerView : 'auto',
          pagination : '.pagination-sd'
        //etc..
            });
    
        function playSwipe() {
          mySwiper.swipeNext();
        }
    
        // 定时器，定时滚动焦点图
        var interval = setInterval(playSwipe, 3000);

        $("#orderDishes").click(function(){
        	location.href = "orderDishes.html";
        });

        $("#customer").click(function(){
        	location.href = "customer.html";
        });

        $(".swiper-slide").click(function(){
        	location.href = $(this).attr("title");
        });
        
      });
    </script>
	</head>

	<body>
		<div data-role="page">
			<div data-role="content" class="content">

				<!-- 焦点图 -->
				<div class="swiper-container" style="cursor: pointer;">
					<div class="swiper-wrapper">
						<!--First Slide-->
						<div class="swiper-slide" title="activity.html">
							<img src="../images/apple.png" width="100%" />
						</div>

						<!--Second Slide-->
						<div class="swiper-slide">
							<img src="../images/blackberry_10.png" width="100%" />
						</div>

						<!--Third Slide-->
						<div class="swiper-slide">
							<img src="../images/firefox_os.png" width="100%" />
						</div>
					</div>
				</div>
				<div class="pagination-sd my-pagination-sd"></div>

				<!-- 功能菜单 -->
				<div style="width: 98%; margin: 0px auto; padding: 0px;">
					<div class="ui-grid-a" style="background-color: white;">
						<div class="ui-block-a ui-block-item">
							<div id="shake" class="ui-bar ui-bar-a padding-0 back-yaoyiyao">
								<span class="small-menu-title">摇一摇</span>
								<span>99元外卖红包欢乐..</span>
							</div>
						</div>
						<div class="ui-block-b ui-block-item">
							<div id="customer" class="ui-bar ui-bar-a padding-0 back-myself">
								<span class="small-menu-title">我的</span>
								<span>订单、券包</span>
							</div>
						</div>
					</div>
					<!-- /grid-a -->
				</div>

				<div style="width: 98%; margin: 0px auto; padding: 0px; margin-top: 15px;">
					<div class="ui-grid-a" style="background-color: white;">
						<div class="ui-block-a ui-block-item">
							<div id="orderDishes"
								class="ui-bar ui-bar-a padding-0 back-diancan">
								<span class="big-menu-title red">点菜</span>
								<span>自助点菜下单</span>
							</div>
						</div>
						<div class="ui-block-b ui-block-item">
							<div id="customer" class="ui-bar ui-bar-a padding-0 back-waimai">
								<span class="big-menu-title green">外卖</span>
								<span>点外卖返现50%</span>
							</div>
						</div>
						<div class="ui-block-a ui-block-item">
							<div id="" class="ui-bar ui-bar-a padding-0 back-fujin">
								<span class="big-menu-title olive">附近</span>
								<span>发现周边美食</span>
							</div>
						</div>
						<div class="ui-block-b ui-block-item">
							<div id=""
								class="ui-bar ui-bar-a padding-0 back-jiezhang">
								<span class="big-menu-title blue">结账</span>
								<span>手机轻松付款</span>
							</div>
						</div>
					</div>
					<!-- /grid-a -->
				</div>
			</div>
			<!-- /content -->
		</div>
	</body>
</html>
