<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>顾客</title>

    <link rel="stylesheet" href="../css/jquery.mobile-1.4.0.css"/>
    <link rel="stylesheet" href="../css/jqm-demos.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"/>
    <link rel="stylesheet" href="../css/idangerous.swiper.css"/>
    <link rel="stylesheet" href="../css/common.css"/>

    <script language="javascript" src="../js/jquery.js"></script>
    <script src="../js/jquery.mobile-1.4.0.js"></script>

    <script type="text/javascript">
        $(function () {

            $("#orderDishes").click(function () {
                location.href = "orderDishes.html";
            });

            $("#takeaway").click(function () {
                location.href = "orderDishes.html";
            });

            $("#customer").click(function () {
                location.href = "customer.html";
            });

        });
    </script>

</head>

<body>
<div data-role="page">
    <div data-role="header">
        <a href="#" data-icon="delete">Cancel</a>

        <h1>My App</h1>
        <a href="#" data-icon="check">Save</a>
    </div>
    <div data-role="content" class="content">

        <ul data-role="listview" data-inset="true">
            <li><a href="orderDishes.html" data-ajax="false">我的菜单</a></li>
            <li><a href="record.html" data-ajax="false">我的外卖</a></li>
            <li><a href="#" data-ajax="false">我的预定</a></li>
            <li><a href="address.html" data-ajax="false">外卖地址管理</a></li>
        </ul>

    </div>
    <!-- /content -->

    <div data-role="footer" class="footer">
        <a href="#" class="footer-menu" data-icon="home">首页</a>
        <a href="#" class="footer-menu" data-icon="arrow-u">Up</a>
        <a href="#" class="footer-menu" data-icon="star">订单</a>
    </div>
    <!-- /footer -->

</div>
</body>
</html>
