<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>我的菜单</title>

    <link rel="stylesheet" href="../css/jquery.mobile-1.4.0.css" />
    <link rel="stylesheet" href="../css/jqm-demos.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
    <link rel="stylesheet" href="../css/idangerous.swiper.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/record.css" />

    <script language="javascript" src="../js/jquery.js"></script>
    <script src="../js/jquery.mobile-1.4.0.js"></script>


    <script type="text/javascript">
      $(function() {
      })
    </script>
    
  </head>

  <body>
    <div data-role="page">

			<div role="main" class="ui-content order-ui-content">

				<div data-role="tabs" id="tabs">
					<div data-role="navbar">
						<ul>
							<li>
								<a href="#record" data-ajax="false">点餐记录</a>
							</li>
							<li>
								<a href="#waitEvaluate" data-ajax="false">待评价</a>
							</li>
						</ul>
					</div>
					
					<div id="record">
						<ul data-role="listview" data-inset="true">
							<li>
								<div>
									<span>点餐时间 2013-12-1 17:00:00</span>
									<div>
										<span>海龙阁酒楼</span>
										<span>鱼香肉丝、乌鸡炖汤</span>
									</div>
									<div>
										<span>金额:<span class="orange">￥50.00</span></span>
										<button data-role="none" class="float-r">删除</button>
										<button data-role="none" class="float-r">修改</button>
										<button data-role="none" class="float-r">下单</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					
					<div id="waitEvaluate">
						<ul data-role="listview" data-inset="true">
							<li>
								<div>
									<span>点餐时间 2013-12-1 17:00:00</span>
									<div>
										<span>海龙阁酒楼</span>
										<span>鱼香肉丝、乌鸡炖汤</span>
									</div>
									<div>
										<span>金额:<span class="orange">￥50.00</span></span>
										<button data-role="none" class="float-r">删除</button>
										<button data-role="none" class="float-r">评价</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
				</div>

			</div>
			<!-- /content -->
			
		</div>
		<!-- /page -->
  </body>
</html>
