@charset "utf-8";
/* CSS Document */

body{
	font-size: 0.8em;
	color: #BFBFBF;
	text-shadow:none;
}

body{
	font-size: 0.8em;
	color: #BFBFBF;
}

.footer{
	width: 100%;
	position: fixed;
	line-height: 24px;
	text-align: center;
    align-content: center;
    float: right;
	left: 0px;
	bottom: 0px;
    right: 0px;
	_position: absolute;
	
	background-image: none;
	background-color: #BFBFBF;
}

.footer-menu{
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
	color: black;
	cursor: pointer;
}

.footer-menu:HOVER{
	color: #FD681F;
}

.dn{
	display: none;
}

.float-r{
	float: right;
}

.float-l{
	float: left;
}

.red{
	color: red;
}

.green{
	color: green;
}

.olive{
	color: olive;
}

.blue{
	color: blue;
}

.orange{
	color: #FF5703;
}

.font-b{
	font-weight: bold;
}

.text-center{
	text-align: center;
}

.w15-percent{
	width: 15%;
}

.padding-0{
	padding: 0px;
}

.margin-0{
	margin: 0px;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(woff/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(woff/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(woff/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}


